body { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url('table.png');
    background-size: cover;
    text-align: center;
}

h1 { 
    display: flex; 
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: goldenrod; 
}

h2 { 
    display: flex; 
    align-items: center;
    justify-content: center;
    color: white; 
    font-weight: bold;
}

p { 
    display: flex; 
    align-items: center;
    justify-content: center;
    color: white; 
    font-weight: bold;
}

button { 
    color : #016f32; 
    border: none;
    border-radius: 10px;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;  
}